/** Global Element Styling **/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Lato', 'Roboto';
}

#page-wrapper {
  position: relative;
}

a {
  color: #000;
  text-decoration: none;
}

header {
  display: flex;
}

#header-img {
  height: 100px;
  width: 120px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#form {
  margin: 10px auto;
}

nav ul {
  display: flex;
  justify-content: start;
  list-style: none;
  margin: 0;
  padding: 0;
}

/** Video promo **/
#videopromo {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  iframe {
    max-width: 560px;
    width: 100%;
  }
}
/** Global Class Styles **/

.nav-link {
  padding: 10px;
  margin: 10px;
}
